[project]
	description = angular-mobile-latest bower repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/playground
[access "refs/for/refs/*"]
	read = group user/playground
	push = group user/playground
	label-Code-Review = -2..+2 group user/playground
	label-Verified = -1..+1 group user/playground
	rebase = group user/playground
	removeReviewer = group user/playground
	submit = group user/playground
[access "refs/heads/*"]
	read = group user/playground
	create = group user/playground
	push = +force group user/playground
	pushMerge = group user/playground
[access "refs/tags/*"]
	push = +force group user/playground
	pushTag = group user/playground
	pushSignedTag = group user/playground
